*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px dotted red;
}

body{
    font-family:'Montserrat', sans-serif;
}

#ui{
    width: 100vw;
    height: 100vh;
}

#flex-header-main{
    display: flex;
    flex-direction: row;
    height: calc(100% - 65px);
}

/*----------------------------------------header.-----------------------------------------*/
header{
    background-color: black;
    width: 150px;
    padding: 7px 10px 10px 4px;
}

header li{
    font-size: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#flex-header{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#header-sopra ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
    color: gray;
}

header b{
    color: white;
}

#header-sopra ul li i{
    padding: 6px;
    background-color: gray;
    color: black;
    margin-right: 4px;
}

#logo-scritta{
    width: 65%;
}

.icona-header{
    height: 2em;
    margin-right: 4px;
}

#header-sotto{
    font-size: 0.5em;
}

#header-sotto a{
display: flex;
flex-direction: row;
align-items: center;
}

header hr{
    width: 100%;
    height: 1px solid;
    color: grey;
}

#header-sotto div{
    display: flex;
    flex-direction: row;
    align-items: center;
    }

/*---------------------------------------main---------------------------------------------*/

main{
    width: calc(100% - 150px);
    background-color: #141922;
}


/*---------------------------------------footer---------------------------------------------*/
footer{
    background-color: #282828;
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}

#footer-sx{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer-sx-sx, #footer-sx-dx{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

#footer-sx-sx div:first-of-type{
    height: 100%;
}

#footer-sx-sx div:nth-of-type(2){
    display: flex;
    flex-direction: column;
}

#footer-sx-sx img{
    height: 30px;
}

#footer-centro{
    display: flex;
    flex-direction: column;
}